fastapi
uvicorn
python-multipart
Pillow
ultralytics
opencv-python-headless
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
python-dotenv
twilio
fpdf2